<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	<title>MOSSPIG</title>
    </head>
    <body>
	    <a href="/">MOSSPIG</a>
        <h1>{{ pageTitle }}</h1>

        {{ content }}
    </body>
</html>
